.vs
/build*
.cproject
.project
.settings
.dependencies
.DS_Store
/CMakeLists.txt.user
CMakeUserPresets.json
.ccls-cache
.cache/clangd
.idea
compile_commands.json
/.vscode/*.peripherals.state.json
/.vscode/*.registers.state.json
Makefile
/doc/html/
__pycache__
.benchmarks
/doc/inline_umlgraph_cache_all.pu
.venv
*.egg-info/
*.egg
