#Ignore object files created during compilation process
*.o
obj
*.a
lib
*.gcno
*.gcda
*.gcov
*.gch
*.log
coverage-test
examples/example
massif.out
valgrind.xml
test-out

#Editors' stuff
*.tmp
*.swp
*.*~
.vscode
*.code-workspace

#Doxygen output
doc/html
doc/latex

#CMake dir
build
build-clang

#Local configuration and stuff
include/lightmodbus/libconf.h
.modules.conf
include/lightmodbus/old
demo
test/out
test/a.out
test/oldsamples
test/test
test/newresp.txt
test/test-result.txt
test/impl.c
old
doc/lightmodbus.dox.bak
